<h1>Editing Stock</h1>

Note: if you modify a stock item, it will effect any order associated with
this stock item that is not yet archived. 
<br /><br />

<%= render 'form' %>

<%= link_to 'Show', @stock %> |
<%= link_to 'Back', stocks_path %>
